[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spimdisasm = ">=1.32.0"
rabbitizer = ">=1.12.0"
splat64 = "==0.34.1"
ninja = "*"
ninja-syntax = "*"
n64img = ">=0.3.3"
pygfxd = "*"
crunch64 = ">=0.5.1"
mapfile-parser = "*"

[dev-packages]

[requires]
python_version = "3.13"
